.col-centered {
	float: none;
	margin: 0 auto;
}

#modules-nav {
	padding-bottom: 10px;
}

img.diagram {
	width: 9em;
	float: right;
	margin-left: 1em;
	margin-bottom: 1em;
}

.module-title {
	font-size: 3em;
}

.nobreak {
	display: inline;
}

button.btn {
	font-weight: bold;
	margin: 0 3px 0 3px;
}

button.btn-red-color {
	background-color: #FF4444;
}

button.btn-blue-color {
	background-color: #5555FF;
}

button.btn-green-color {
	background-color: #55EE55;
}

button.btn-yellow-color {
	background-color: #FFFF66;
}

button.btn-white-color {
	background-color: #EEEEEE;
}

button.btn-black-color {
	background-color: #555555;
}

button.selected {
	outline-offset: 2px;
	outline: 5px solid black;
}

button.selected:focus {
	outline-offset: 2px;
	outline: 5px solid black;
}

.module-solution {
	margin-top: 10px;
}

li.button-hold-blue {
	background-color: #77F;
	font-weight: bold;
	padding: 5px 0 5px 0;
}

li.button-hold-yellow {
	background-color: #FF0;
	font-weight: bold;
	padding: 5px 0 5px 0;
}

li.button-hold-white {
	background-color: #FFF;
	font-weight: bold;
	padding: 5px 0 5px 0;
}

li.button-hold-other {
	font-weight: bold;
	padding: 5px 0 5px 0;
}

.memory-stage {
	background-color: #E5F0FF;
	margin-top: 10px;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

td.complicated-wires {
	text-align: center;
}

button.complicated-wires-color-btn {
	margin: 5px 0 5px 0;
}

#wire-sequences-prev {
	text-align: center;
	padding-bottom: 10px;
}

#wire-sequences-next {
	text-align: center;
}

td.wire-sequences {
	text-align: center;
}

.wire-sequences-solution {
	width: 120px;
	height: 4em;
}