<!DOCTYPE html>
<html data-ng-app="kcneApp">
  <head>
	<title>Keep Cheating and Nobody Explodes</title>
	<link rel="stylesheet" media="all" href="css/bootstrap-3.3.5.css">
	<link rel="stylesheet" media="all" href="css/main.css">
	<script src="js/lib/jquery-2.1.4.min.js"></script>
	<script src="js/lib/bootstrap-3.3.5.min.js"></script>
	<script src="js/lib/angular-1.4.4.min.js"></script>
	<script src="js/appBase.js"></script>
	<script src="js/wires.js"></script>
	<script src="js/button.js"></script>
	<script src="js/simonsays.js"></script>
  </head>
  <body>
	<div class="page-header">
	  <h1 class="text-center">Keep Cheating and Nobody Explodes</h1>
	</div>
	<div class="container">
	  <div class="row" id="modules-nav">
		<div class="col-md-8 col-centered">
		  <ul class="nav nav-pills">
			<li class="active"><a href="#wires" data-toggle="tab">Wires</a></li>
			<li><a href="#button" data-toggle="tab">Button</a></li>
			<li><a href="#simonsays" data-toggle="tab">Simon Says</a></li>
		  </ul>
		</div>
	  </div>
	  <div class="row">
		<div class="col-md-8 col-centered tab-content">
		  <div class="panel panel-default tab-pane active" id="wires" data-ng-controller="WiresCtrl">
			<div class="panel-heading clearfix">
			  <span class="panel-title pull-left module-title">Wires</span>
			  <img class="diagram" src="img/WireComponent.svg"></img>
			</div>
			<div class="panel-body">
			  <ul class="list-group">
				<li class="list-group-item" data-ng-repeat="wire in wires track by $index">
				  <button class="btn btn-red-color{{wire === 'red' ? ' selected' : ''}}" data-ng-click="selectWire($index, 'red')">Red</button>
				  <button class="btn btn-blue-color{{wire === 'blue' ? ' selected' : ''}}" data-ng-click="selectWire($index, 'blue')">Blue</button>
				  <button class="btn btn-yellow-color{{wire === 'yellow' ? ' selected' : ''}}" data-ng-click="selectWire($index, 'yellow')">Yellow</button>
				  <button class="btn btn-white-color{{wire === 'white' ? ' selected' : ''}}" data-ng-click="selectWire($index, 'white')">White</button>
				  <button class="btn btn-black-color{{wire === 'black' ? ' selected' : ''}}" data-ng-click="selectWire($index, 'black')">Black</button>
				</li>
				<li class="list-group-item">
				  <h4 class="nobreak">Last digit of the serial number is </h4>
				  <button class="btn btn-default{{serialOddEven === 'odd' ? ' selected' : ''}}" data-ng-click="selectSerialOddEven('odd')">Odd</button>
				  <button class="btn btn-default{{serialOddEven === 'even' ? ' selected' : ''}}" data-ng-click="selectSerialOddEven('even')">Even</button>
				</li>
			  </ul>
			  <button class="btn btn-success" data-ng-click="solve()">Solve</button>
			  <button class="btn btn-default" data-ng-click="reset()">Reset</button>
			  <div class="well module-solution">{{solution}}</div>
			</div>
		  </div>
		  <div class="panel panel-default tab-pane" id="button" data-ng-controller="ButtonCtrl">
			<div class="panel-heading clearfix">
			  <span class="panel-title pull-left module-title">Button</span>
			  <img class="diagram" src="img/ButtonComponent.svg"></img>
			</div>
			<div class="panel-body">
			  <ul class="list-group">
				<li class="list-group-item">
				  <h4 class="nobreak">Color </h4>
				  <button class="btn btn-red-color{{color === 'red' ? ' selected' : ''}}" data-ng-click="selectColor('red')">Red</button>
				  <button class="btn btn-blue-color{{color === 'blue' ? ' selected' : ''}}" data-ng-click="selectColor('blue')">Blue</button>
				  <button class="btn btn-yellow-color{{color === 'yellow' ? ' selected' : ''}}" data-ng-click="selectColor('yellow')">Yellow</button>
				  <button class="btn btn-white-color{{color === 'white' ? ' selected' : ''}}" data-ng-click="selectColor('white')">White</button>
				</li>
				<li class="list-group-item">
				  <h4 class="nobreak">Label </h4>
				  <button class="btn btn-default{{label === 'Abort' ? ' selected' : ''}}" data-ng-click="selectLabel('Abort')">Abort</button>
				  <button class="btn btn-default{{label === 'Detonate' ? ' selected' : ''}}" data-ng-click="selectLabel('Detonate')">Detonate</button>
				  <button class="btn btn-default{{label === 'Hold' ? ' selected' : ''}}" data-ng-click="selectLabel('Hold')">Hold</button>
				  <button class="btn btn-default{{label === 'Press' ? ' selected' : ''}}" data-ng-click="selectLabel('Press')">Press</button>
				</li>
				<li class="list-group-item" style="display: {{moreInfo === 'CAR' ? 'block' : 'none'}}">
				  <h4 class="nobreak">Lit indicator that says CAR? </h4>
				  <button class="btn btn-default{{indicatorCAR === 'yes' ? ' selected' : ''}}" data-ng-click="selectIndicatorCAR('yes')">Yes</button>
				  <button class="btn btn-default{{indicatorCAR === 'no' ? ' selected' : ''}}" data-ng-click="selectIndicatorCAR('no')">No</button>
				</li>
				<li class="list-group-item" style="display: {{moreInfo === 'FRK' ? 'block' : 'none'}}">
				  <h4 class="nobreak">Lit indicator that says FRK? </h4>
				  <button class="btn btn-default{{indicatorFRK === 'yes' ? ' selected' : ''}}" data-ng-click="selectIndicatorFRK('yes')">Yes</button>
				  <button class="btn btn-default{{indicatorFRK === 'no' ? ' selected' : ''}}" data-ng-click="selectIndicatorFRK('no')">No</button>
				</li>
				<li class="list-group-item" style="display: {{moreInfo === 'batteries' ? 'block' : 'none'}}">
				  <h4 class="nobreak">How many batteries? </h4>
				  <button class="btn btn-default{{batteries === 0 ? ' selected' : ''}}" data-ng-click="selectBatteries(0)">0</button>
				  <button class="btn btn-default{{batteries === 1 ? ' selected' : ''}}" data-ng-click="selectBatteries(1)">1</button>
				  <button class="btn btn-default{{batteries === 2 ? ' selected' : ''}}" data-ng-click="selectBatteries(2)">2</button>
				  <button class="btn btn-default{{batteries === 3 ? ' selected' : ''}}" data-ng-click="selectBatteries(3)">3</button>
				  <button class="btn btn-default{{batteries === 4 ? ' selected' : ''}}" data-ng-click="selectBatteries(4)">4</button>
				  <button class="btn btn-default{{batteries === 5 ? ' selected' : ''}}" data-ng-click="selectBatteries(5)">5</button>
				</li>
			  </ul>
			  <button class="btn btn-success" data-ng-click="solve()">Solve</button>
			  <button class="btn btn-default" data-ng-click="reset()">Reset</button>
			  <div class="well module-solution">{{solution}}</div>
			  <div class="well" style="display: {{hold === true ? 'block' : 'none'}}">
				<ul>
				  <li class="button-hold-blue">
					Blue strip: release when the countdown timer has a 4 in any position.
				  </li>
				  <li class="button-hold-yellow">
					Yellow strip: release when the countdown timer has a 5 in any position.
				  </li>
				  <li class="button-hold-white">
					White strip: release when the countdown timer has a 1 in any position.
				  </li>
				  <li class="button-hold-other">
					Other color strip: release when the countdown timer has a 1 in any position.
				  </li>
				</ul>
			  </div>
			</div>
		  </div>
		  <div class="panel panel-default tab-pane" id="simonsays" data-ng-controller="SimonSaysCtrl">
			<div class="panel-heading clearfix">
			  <span class="panel-title pull-left module-title">Simon Says</span>
			  <img class="diagram" src="img/SimonComponent.svg"></img>
			</div>
			<div class="panel-body">
			  <ul class="list-group">
				<li class="list-group-item">
				  <h4 class="nobreak">Serial number contains a vowel? </h4>
				  <button class="btn btn-default{{vowel === true ? ' selected' : ''}}" data-ng-click="selectVowel(true)">Yes</button>
				  <button class="btn btn-default{{vowel === false ? ' selected' : ''}}" data-ng-click="selectVowel(false)">No</button>
				</li>
				<li class="list-group-item">
				  <h4 class="nobreak">Number of strikes </h4>
				  <button class="btn btn-default{{strikes === 0 ? ' selected' : ''}}" data-ng-click="selectStrikes(0)">0</button>
				  <button class="btn btn-default{{strikes === 1 ? ' selected' : ''}}" data-ng-click="selectStrikes(1)">1</button>
				  <button class="btn btn-default{{strikes === 2 ? ' selected' : ''}}" data-ng-click="selectStrikes(2)">2</button>
				</li>
				<li class="list-group-item">
				  <h4 class="nobreak">Color </h4>
				  <button class="btn btn-red-color{{color === 'red' ? ' selected' : ''}}" data-ng-click="selectColor('red')">Red</button>
				  <button class="btn btn-blue-color{{color === 'blue' ? ' selected' : ''}}" data-ng-click="selectColor('blue')">Blue</button>
				  <button class="btn btn-green-color{{color === 'green' ? ' selected' : ''}}" data-ng-click="selectColor('green')">Green</button>
				  <button class="btn btn-yellow-color{{color === 'yellow' ? ' selected' : ''}}" data-ng-click="selectColor('yellow')">Yellow</button>
				</li>
			  </ul>
			  <button class="btn btn-success" data-ng-click="solve()">Solve</button>
			  <button class="btn btn-default" data-ng-click="reset()">Reset</button>
			  <div class="well module-solution">{{solution}}</div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </body>
</html>
